gradio >= 5.50.0,< 6.0.0

mlx >= 0.28.0
mlx-lm >= 0.26.3
mlx-vlm >= 0.3.2

tiktoken
huggingface-hub

torch >= 2.8.0
torchvision >= 0.23.0

chromadb
sentence-transformers
langchain-text-splitters

pypdf[full]
python-docx
python-pptx
pandas
openpyxl