gradio >= 5.34.0

mlx == 0.26.5
mlx-lm >= 0.26.0
mlx-vlm >= 0.3.2

torch
torchvision

chromadb
sentence-transformers
langchain-text-splitters

pypdf[full]
python-docx
python-pptx
pandas
openpyxl

openai